<div class='posts'>
  <% if notice %>
      <p id="notice" xmlns=""><%= notice %></p>
  <% end %>

  <div class='post'>
    <p class='post_title'>
      <%= link_to @post.title, @post %>
    </p>

    <p class='post_detail'>
      <% post_details(@post).each do |detail| %>
          <%= detail %>
      <% end %>
    </p>

    <p class='post_content'>
      <%= @post.body %>
    </p>

    <div class='post_actions'>
      <%= edit_post_image_link @post %>
      <%= remove_post_image_link @post %>
    </div>
  </div>
</div>