<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'RBlog' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="header">
  <%= logo_image_link %>
  <div id="header_title">
    <%= link_to 'RBlog', :root %>
  </div>
  <div id="banner_links">
    <div class="banner_link" id="author_link">
      <%= link_to 'Autore', :author %>
    </div>
    <div class="banner_link" id="abstract_link">
      <%= link_to 'Abstract', :abstract %>
    </div>
    <div class="banner_link"
         id="search_link"
         onmouseover='switch_search_input_text()'
         onmouseout = 'switch_search_input_text()'>
      <!--<form id='search_form'>-->
      <%= form_tag(:root, method: "get") do %>
          <input type="text"
                 name="search"
                 id="search_input_text"
                 placeholder="Ricerca fra i post...">
          <%= search_image_tag %>
      <% end %>
      <!--</form>-->
    </div>
  </div>
</div>
<div id="content">
  <%= yield %>
</div>
<div id="footer">
  <p>© 2014 - Mattia</p>
</div>
</body>
</html>